<table>
  <tr>
      <th> Name</th>
      <th> Price</th>
      <th> Ingridents</th>
  </tr>
      <% smart_listing.collection.each do |products|%>
      <tr>
          <th> <%= products.name%></th>
          <th> <%= products.price %></th>
          <th> <%= products.ingridents %></th>
      </tr>
      <%end%>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
